 
* {
    box-sizing:  border-box;
    }
    

h1 {
    font-size: 7rem;
}


ul {
    list-style: disc;
    margin: 1rem;

}

ol {
    list-style-position:inside;
    list-style: decimal;
    padding: 1rem;
}

img {
    width: 200px;
    height: 300px;
  }